
/*logo style*/
body {
        /* Add image */
        background-image: url("../assets/img/background.jpg");
        /* Make image center */
        background-position: center center;
        /* Make image fixed */
        background-attachment: fixed;
         /* Set background size auto */
         background-size: cover;
        
      }
/* Media query for mobile devices  */
@media only screen and (max-width: 767px)      
 { body{
      /* Add image */
      background-image: url("../assets/img/background.jpg");
    }
  }
      
